---
layout: default
---

<div class="post">

  <div class="post-info">
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>
  <h1 class="post-title">
    <div>{{ page.title }}</div>
  </h1>

  {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592; {{ page.next.title }}</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow"> {{ page.previous.title }} &#8594;</a>
  {% endif %}
</div>
